@page "/Equipment/Create"
@using SurfsUpLibrary.Models
@using SurfsUpLibrary.Models.Repositories
@inject NavigationManager NavigationManager


<h1>Tilføj</h1>

<h4>Udstyr</h4>
<hr />
<EditForm Model="equipment" OnSubmit="HandleSubmit">
    <div class="form-group">
        <label for="equipment.Name">Navn:</label>
        <label for="equipment.Name"> @equipment.Name  </label>
        <InputText id="Name" @bind-Value="equipment.Name">  </InputText>
    </div>
    <button style="margin-top:10px;" type="submit" class="btn btn-primary">Tilføj</button>
</EditForm>
<a style="margin-top:10px;"  href="/Equipment"> Tilbage til listen </a>


@code {
    public Equipment equipment = new Equipment();

    public async void HandleSubmit()
    {
        await EquipmentRepo.Create(equipment);
        NavigationManager.NavigateTo("/Equipment");
    }


}
