@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
<div class="page">
    <div style="background-image:none;background-color:cadetblue;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<CascadingBlazoredModal Position="ModalPosition.TopCenter"></CascadingBlazoredModal>

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="10" IconType="IconType.FontAwesome" SuccessClass="success-toast-override" 
SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-bug"
/>